* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
}

.list-item {
  border: 1px solid #cacccd;
  display: flex;
  flex-direction: column;
  padding: 20px;

}

h3 {
  padding-top: 20px;
  padding-bottom: 5px;
}

.content-container {
  padding: 20px;
  margin: 1rem;
  border: 1px solid #cacccd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.page-header {
  display: flex;
  justify-content: space-around;
  padding: 3.2rem 0;
  margin-bottom: 3.2rem;
}

.page-header button {
  background: none;
  border: none;
  text-decoration: #1c88bf underline;
}

.page-header__title {
  margin: 0;
  font-weight: 300;
}

.page-header__title span {
  font-weight: 700;
}


form {
  display: flex;
  flex-direction: column;
}

form div {
  margin: 10px;
}


button {
  cursor: pointer;

}

.button {
  margin-left: 10px;
  background: #1c88bf;
  border: none;
  color: white;
  display: inline-block;
  font-weight: 300;
  line-height: 1;
  padding: 1.2rem;
  text-decoration: none;
  border-radius: 0;
}

.button--link {
  background: none;
}

input {
    border: 1px solid #cacccd;
    height: 50px;
    padding: 1.2rem;
    font-size: 1.8rem;
}

.database-title {
  padding: 10px;
  border: 1px solid #cacccd;
}

.flex {
  display: flex;
}

select {
  border: 1px solid #cacccd;
  height: 50px;
  padding: 1.2rem;
  font-size: 1.8rem;
}

table {
  font-family: Verdana;
  font-size: 14px;
  border-collapse: collapse;
  width: 600px;
}

td, th {
  padding: 10px;
  text-align: left;
  margin: 0;
}


th {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
}

